* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Helvetica Neue, Arial;

}

h1, h2 {
    color: rgba(0, 82, 77, 0.571);   
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 30px;
}

p{
    text-align: justify;
    margin-bottom: 30px;
}

a {
    margin-top: 40px;
}

.container {
    width: 1000px;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.author-post{
    border-top: 1px solid #258573;
    padding-top: 20px;
}

.other-post{
    width: 25%;
    float: left;
}